<html>
    <head>
        <script src="https://cdn.socket.io/4.2.0/socket.io.min.js" integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
        <script src="/static/js/soundstream.js"></script>

        <!-- Load viz code. -->
        <link rel="stylesheet" type="text/css" href="/static/viz/{{ name }}/style.css" />
        <script src="/static/viz/{{ name }}/script.js" defer></script>
    </head>
    <body />
</html>
