<html>
    <head>
        <title>Soundstream</title>
    </head>
    <script type="text/javascript">
        function popupWindow(url) {
            const windowSettings = 'menubar=no,scrollbars=no,location=no,width=800,height=600';
            const newWindow = window.open(url, '_blank', windowSettings);
            if (window.focus) newWindow.focus();
        }
    </script>
<body>
    <h1>Choose an audio visualization</h1>
    <p>Press <b>F11</b> with a visualization window open to toggle fullscreen.</p>
    <ul>
        <li><a href="#" onclick="popupWindow('/viz/spectro');">Spectro</a></li>
        <li><a href="#" onclick="popupWindow('/viz/tunnel/squares');">Squares</a></li>
        <li><a href="#" onclick="popupWindow('/viz/tunnel/circles');">Circles</a></li>
        <li><a href="#" onclick="popupWindow('/viz/tunnel/bars');">Bars</a></li>
    </ul>
</body>
</html>
