<html>
    <head>
    <style>
        html, body {
            height: 100vh;
            background: black;
        }
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script type="text/javascript" charset="utf-8">
        const arrayOfNumber = (numToFill, nElements) => Array(nElements).fill(numToFill);

        // set display mode from template
        const DISPLAY_MODE = '{{ mode }}';

        // drawing constants
        const canvasWidth = window.innerWidth;
        const canvasHeight = window.innerHeight;
        const midHeight = canvasHeight / 2;
        const barWidth = canvasWidth / 100;
        const backgroundColor = 'black';
        const strokeColor = 'white';

        // soundstream info
        const nBins = 100;  // number of FFT bins
        const maxAmpl = 255;  // maximum scaled FFT amplitude
        let isData = false;
        let bassHit = false;
        let fft = arrayOfNumber(0, nBins);
        let fftSmooth = arrayOfNumber(0, nBins);

        function setup() {
            createCanvas(canvasWidth, canvasHeight);
            background(backgroundColor);
            stroke(strokeColor);

            const socket = io.connect()

            socket.on('data frame', function(rawFrame) {
                const parsedData = JSON.parse(rawFrame);
                bassHit = parsedData.bass_hit;
                isData = parsedData.is_data;
                fft = isData ? parsedData.fft : arrayOfNumber(0, nBins);
            });
        }

        function draw() {
            noStroke();
            background(backgroundColor);  // reset background

            for (let i = fft.length; i > 0; i--) {
                fftSmooth[i] = (fftSmooth[i] + fft[i]) / 2;  // moving avg for fft to smooth it a bit

                const currentWidth = barWidth * i;
                const x = canvasWidth / 2 - currentWidth / 2;
                const y = canvasHeight / 2 - currentWidth / 2;

                fill(fftSmooth[i], fftSmooth[i], fftSmooth[i]);
                switch(DISPLAY_MODE) {
                    case 'circles':
                        circle(canvasWidth / 2, canvasHeight / 2, currentWidth);
                        break;
                    case 'bars':
                        rect(currentWidth, 0, barWidth, canvasHeight);
                        break;
                    default:
                        rect(x, y, currentWidth, currentWidth);
                        break;
                }
            }
        }
    </script>
</head>
</html>
